<%- include ("../partials/header")%>

<div class="container">
    <form action = "<%="/assignment/assign-create/" + cid + "/"%>" method = "post" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">Ingrese nombre de la tarea</label>
          <input type="text" class="form-control" name="a_name" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Mas detalles sobre la tarea</label>
          <textarea type="text" class="form-control" name="a_details"></textarea>
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">Seleccione algun archivo. PDF, etc.</label>
            <input class="form-control" type="file" name="file" required>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

