<%- include ("partials/header")%>
<div class="container">
  <div class="row vh-100 justify-content-center align-items-center">
    <div class="col-6">
      <form action="/auth/register" method="POST">
        <%- include ("partials/messages")%>
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" name="name" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password2" required>
        </div>
        <div class="mb-3">
          <p>¿No tienes cuenta? <a id = "a" href="/login">Registrate aqui</a></p>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </form>
    </div>
  </div>
</div>