<%- include ("../partials/header")%>
<div class="container">
  <div class="row vh-100 justify-content-center align-items-center">
    <div class="col-6">
      <div class="text-center mt-5">
        <P class="h3 mb-3">Bienvenido <%= name%></P>
    </div>
    <form action= "<%="/homework/join-class/" + id + "/"%>" method="post">
        <div class="mb-3">
          <label class="form-label">Ingrese ID de la asignatura</label>
          <input type="number" class="form-control" name="joining_id">
        </div>
        <button type="submit" class="btn btn-primary">Ingresar a la materia</button>
    </form>
    </div>
  </div>
</div>